<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="../../css/login.css">

<dom-module id="contacta-visor">
<template>
  <style>
    :host {
      display: block;
    }
  </style>

  <div class="login">

    <form class="login-container">
      <label for="name">Tu nombre:</label><br/>
      <p><input type="name" name="name" placeholder="Nombre" value="{{name::input}}"></p>
      <label for="email">Tu email:</label><br />
      <p><input type="email" name="email" placeholder="Email" value="{{email::input}}"></p>
			<label for="message">Tu mensaje:</label><br />
      <p>​<textarea name="message" placeholder="Mensaje" rows="3" cols="36" value="{{message::input}}"></textarea></p>
      <p><input type="button" name="button" value="Enviar" on-click ="enviar"></p>
    </form>
  </div>

</template>

<script>
  /**
   * @customElement
   * @polymer
   */
   class contactaVisor extends Polymer.Element {
    static get is() { return 'contacta-visor'; }
    static get properties() {
      return {
        name: {
          type: String,
          value: ''
        },
        email: {
          type: String,
          value: ''
        },
        message: {
          type: String,
          value: ''
        }
      };
    }

    enviar () {
      if (this.name == '') {
         alert('Debe rellenar el campo nombre');
      } else if (this.email == '') {
         alert('Debe rellenar el campo email');
       } else if (this.message == '') {
          alert('Debe rellenar el campo mensaje');
       } else {
         parent.location='mailto:infoayuda@bbva.es?cc=' + this.email + '&subject=Consulta&body=' + this.message;
//       parent.location='mailto:direccion@destinatario.com?cc=copia@destinatario.com&subject=Asunto%20con%20espacios&body=Este%20es%20el%20cuerpo%20del%20mensaje';
        this.name = "";
        this.email = "";
        this.message = "";
       }
    }
  }

  window.customElements.define(contactaVisor.is, contactaVisor);
</script>
</dom-module>
