<link rel="import" href="/src/gestor-movimientos/gestor-movimientos.html">
<link rel="stylesheet" href="../../css/login.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="login-visor">
<template>
  <style>
    :host {
      display: block;
    }
  </style>

  <div class="login" hidden$={{ocultarLogin}}>
    <div class="login-triangle"></div>

    <h2 class="login-header">Log in</h2>

    <form class="login-container">
      <p><input type="usuario" name="usuario" placeholder="Usuario" value="{{usuario::input}}"></p>
      <p><input type="password" name="pass" placeholder="Password" value="{{password::input}}"></p>
      <p><input type="button" name="button" value="Log in" on-click ="hacerLogin"></p>
    </form>
  </div>

  <div hidden$={{!ocultarLogin}}>
    <gestor-movimientos idcli={{idcliente}}></gestor-movimientos>
  </div>
</template>

<script>
  /**
   * @customElement
   * @polymer
   */
   class loginVisor extends Polymer.Element {
    static get is() { return 'login-visor'; }
    static get properties() {
      return {
        usuario: {
          type: String,
          value: ''
        },
        password: {
          type: String,
          value: ''
        },
        idcliente: {
          type: String,
          value: ""
        },
        ocultarLogin: {
          type: Boolean,
          value: false
        }
      };
    }

    ready() {
      super.ready();
      this.idcliente=sessionStorage.getItem("cliente");
      if ( this.idcliente == null) {
        console.log("Cliente:" + this.idcliente + "<");
      } else {
        console.log("Cliente:" + String(this.idcliente) + "<");
        this.ocultarLogin = true;
        console.log("ocultar login");
      }
    }

    hacerLogin () {
      if (this.usuario == '') {
         alert('Debe rellenar el campo usuario');
      } else if (this.password == '') {
         alert('Debe rellenar el campo contraseña');
      } else {
        var datos = {"usuario":this.usuario,"password":this.password};
        var request = new XMLHttpRequest();
        request.open("POST", "http://servidorback:3000/login", false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify(datos));
        if (request.responseText > "0" ) {
           this.idcliente = request.responseText;
           sessionStorage.setItem("usuario", this.usuario);
           sessionStorage.setItem("cliente", this.idcliente);
           this.ocultarLogin = true;
        } else {
           alert("Cliente no válido");
        }

      }

    }
  }

  window.customElements.define(loginVisor.is, loginVisor);
</script>
</dom-module>
