<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/device-icons.html">

<dom-module id="detalle-movimiento">
  <template>
    <style>
      :host {
        display: block;
        border: 20px solid #FAFAFA;;
        --img-bg: url(../../images/sinCategoria.png);
      }
      table.bg {
        width: 500px;
        height: 250px;
        color: white;
      }
      div {
        width: 500px;
        height: 250px;
        background-image : var(--img-bg);
        background-size: cover;
      }
    </style>

    <div hidden$="[[noDetalleMovimiento]]">
      <div class="container">
        <table class="bg">
          <tbody>
            <tr>
              <td><button type="button" class="btn btn-secondary btn-sm" on-click="ocultarDetalle"><iron-icon icon=icons:close></iron-icon></button></td>
              <td>[[movimiento.method]]</td>
              <td>[[movimiento.date]]</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td colspan="3" align="center">[[movimiento.item]]</td>
            </tr>
            <tr>
                <td colspan="3" align="center"><h2>[[movimiento.amount]] €</h2></td>
            </tr>
            <tr>
                <td width=200><iron-icon icon=[[iconCategory]]></iron-icon>[[desCategory]]</td>
                <td>
                  <select id="categorySelect" on-change="catSave" value="{{desCategory::change}}">
                    <template is="dom-repeat" items="{{categories}}">
                      <option value=[[item.desCategory]]>[[item.desCategory]]</option>
                    </template>
                  </select>
                </td>
                <td>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>


  <script>
    class DetalleMovimiento extends Polymer.Element {
      static get is() { return 'detalle-movimiento'; }
      static get properties() {
        return {
          movimiento: {
            type: Object,
            observer: '_idmovChanged'
          },
          noDetalleMovimiento: {
            type: Boolean,
            value: true
          },
          categories: {
            type: Array,
          },
          desCategory: {
            type: String,
            observer: '_catChanged'
          },
          imgCategory: {
            type: String,
          },
          iconCategory: {
            type: String,
          }
        }
      }
      ready(){
        super.ready();
        this.getCategories();
        console.log("detalle.ready: ");
      }
      _idmovChanged(newValue, oldValue){
        this.detalleMovimiento();
      }
      _catChanged(newValue, oldValue){
        for (var i=0; i<this.categories.length && this.desCategory!=this.categories[i].desCategory; i++);
        if (i<this.categories.length) {
          this.imgCategory=this.categories[i].imgCategory;
          this.iconCategory=this.categories[i].iconCategory;
        } else {
          this.imgCategory= "sinCategoria.png";
          this.iconCategory= "";
        }
        var img='url(https://s3.amazonaws.com/usr23-aws/'+this.imgCategory+')';
        console.log("imagen: ", img);
        this.updateStyles({'--img-bg': img});
        console.log("Cambio de Categoría."+" <" + oldValue +">" + "> " + newValue +">");
      }
      ocultarDetalle() {
        this.noDetalleMovimiento=true;
      }

      detalleMovimiento() {
        this.desCategory=this.movimiento.category;
        this.noDetalleMovimiento=false;
      }

      catSave() {
        this.desCategory= this.$.categorySelect.value;

        var request = new XMLHttpRequest();
        request.open("POST", "http://servidorback:3000/transaction/" , false);
        request.setRequestHeader("Content-Type", "application/json");
        var actualizaMovimiento = {"idMovimiento": this.movimiento._id, "categoria": this.desCategory};
        var body = JSON.stringify(actualizaMovimiento);
        console.log("catSave.RequestBody:" + body);
        request.send(body);
        this.respuesta = request.responseText;
        console.log("Resultado cambio categoria:"+ this.desCategory);
      }

      getCategories() {
        var request = new XMLHttpRequest();
        request.open("GET", "http://servidorback:3000/categories", false);
        request.send();
        if (request.responseText == null) {
          console.log("Sin respuesta");
        } else {
          this.categories= JSON.parse(request.responseText);
        }
      }

/*        var request = new XMLHttpRequest();
        var datos = { "idcliente":this.idcli, "idmovimiento": this.idmov };
        request.open("POST", "http://servidorback:3000/movimiento", false);
        var datos = { "idcliente": "2", "pagina": "0" };
        request.open("POST", "http://servidorback:300 0/movimientos2", false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify(datos));
        this.movimiento = JSON.parse(request.responseText);
        console.log(this.movimiento);
        console.log(this.movimiento.length);
      }
*/
/*
      anadirMovimiento() {
        var request = new XMLHttpRequest();
        request.open("POST", "http://servidorback:3000/movimientos2", false);
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoMovimiento = {"idcliente":"12345","nombre":"Pepe","apellido":"Garcia"};
        var body = JSON.stringify(nuevoMovimiento);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
        this.noCargados = false;
      }
*/
    }
    window.customElements.define(DetalleMovimiento.is, DetalleMovimiento);
  </script>
</dom-module>
