<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/src/detalle-movimiento/detalle-movimiento.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="gestor-movimientos">
  <template>
    <style>
      :host {
        display: block;
        background-color: #FAFAFA;
      }
      #child-element {
        background: yellow;
      }
    </style>
    <div>
       <br/>
       <div class="container">
         <h5>LISTA DE MOVIMIENTOS</h5>
         <button on-click="treemapview" class="btn btn-secondary"><iron-icon icon='icons:view-quilt'></iron-icon> </button>
         <table align="center">
           <tr>
             <td hidden$="{{noCargados}}">
               <table class="table table-condensed table-hover table-bordered table-striped">
                 <thead>
                   <th>Fecha</th>
                   <th>Concepto</th>
                   <th>Importe</th>
                 </thead>
                 <tfoot>
                   <tr>
                     <td><button on-click="pagAtras" class="btn btn-secondary"><< </button></center></td>
                     <td><p class="text-muted" align="center">Página [[page]]</p></td>
                     <td><button on-click="pagAvance" class="btn btn-secondary"> >></button></center></td>
                   </tr>
                 </tfoot>
                 <tbody>
                   <template is="dom-repeat" items="{{movimientos}}">
                     <tr on-click="detalleMovimiento" }>
                       <td>[[item.date]]</td>
                       <td>[[item.item]]</td>
                       <td>[[item.amount]]</td>
                     </tr>
                   </template>
                 </tbody>
              </table>
            <td>
            <detalle-movimiento movimiento={{movimiento}}></detalle-movimiento>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </template>


  <script>
    class GestorMovimientos extends Polymer.Element {
      static get is() { return 'gestor-movimientos'; }
      static get properties() {
        return {
          movimientos: {
            type: Array,
            notify: true
          },
          movimiento: {
            type: Object
          },
          ocultarMov: {
            type: Boolean,
            value: false
          },
          noCargados: {
            type: Boolean,
            value: true
          },
          idcli: {
            type: String,
            observer: '_idcliChanged'
          },
          page: {
            type: String,
            value: "1",
          },
          loginoculto: {
            type: Boolean,
            value: ""
          }
        }
      }
      _idcliChanged(newValue, oldValue){
        this.obtenerMovimientos();
      }
      pagAvance(){
        if (this.movimientos.length=='8') {
          this.page++;
          this.obtenerMovimientos();
        }
      }
      pagAtras(){
        if (this.page>'1') {
          this.page--;
        }
        this.obtenerMovimientos();
      }
      obtenerMovimientos() {
        var request = new XMLHttpRequest();
        var datos = { "idclient":this.idcli, "page": this.page-1 };
        request.open("POST", "http://servidorback:3000/transactions", false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify(datos));
        this.movimientos = JSON.parse(request.responseText);
        console.log(this.movimientos);
        console.log(this.movimientos.length);
        this.noCargados = false;
      }
      detalleMovimiento(e) {
        this.obtenerMovimientos();
        console.log(e.model.__data);
        this.movimiento=e.model.__data.item;
      }
      analisisMovimientos(){
        var datos = { "idclient":this.idcli };
        // llamar al treemap para representar las transaciones de ese cliente
      }
      treemapview(){
        window.open("/src/treemap.html?"+this.idcli,"_parent", "width=800, height=600");
      }
/*
      anadirMovimiento() {
        var request = new XMLHttpRequest();
        request.open("POST", "http://servidorback:3000/movimientos2", false);
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoMovimiento = {"idcliente":"12345","nombre":"Pepe","apellido":"Garcia"};
        var body = JSON.stringify(nuevoMovimiento);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
        this.noCargados = false;
      }
*/
    }
    window.customElements.define(GestorMovimientos.is, GestorMovimientos);
  </script>
</dom-module>
